/* @font-face {
    font-family: 'Cardillac';
    src: url('../fonts/Cardillac-Regular.ttf');
    src: local('Cardillac Regular'), local('Cardillac-Regular'),
        url('..fonts/Cardillac-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cardillac-Regular.woff2') format('woff2'),
        url('../fonts/Cardillac-Regular.woff') format('woff'),
        url('../fonts/Cardillac-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neometric Alt Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Neometric Alt Regular'), 
    url('../fonts/NeometricAlt-Regular.woff') format('woff');
} */

:root{
    --primary: white;
    --secondary: #212529;
    --grey: rgb(108, 117, 125);
    --fondo: rgb(239, 240, 241);
    --CTA: #0B7A75;
    --error: #ce1414;
    --hover: #dce2e8;
}

img{
    width: 100%;
}

body{
    background-color: var(--fondo);/* 
    font-family: 'Neometric Alt Regular', sans-serif; */
    font-size: smaller;
}

main{
    margin: 20px 10px;
}

a{
    text-decoration: none;
}

.fontSize{
    font-size: 1.5rem;
    margin-bottom: 0 !important;
}

/* LOGIN */

#login{
    border-bottom: var(--primary) 1px solid;
}

.imgLogin{
    width: 60%;
}

#index{
    min-height: 100vh;
}

/* HEADER */

.imgLogo{
    width: 80px;
}

.nav-link{
    color: var(--primary);
}

.nav-link:active, .nav-link:hover, .nav-link:focus{
    color: var(--CTA);
}

.btn-login{
    color: var(--primary);
    border: var(--primary) 1px solid;
}

.btn-login:hover{
    color: var(--secondary);
    background-color: var(--primary);
}

.btn-signup{
    background-color: var(--CTA);
    color: var(--primary);
}

.btn-signup:hover{
    background-color: var(--CTA);
    opacity: 0.8;
    color: var(--primary);
}

.error{
    color: var(--error);
    margin-top: 10px;
}

.inputs-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

/* HOME */

/* Barra para agregar tareas */

.fondoPrimary{
    background-color: var(--primary);
    padding: 20px;
}

/* Filtrado de tareas */

form{
    margin-top: 20px;
}

#home button[type="button"]{
    background-color: var(--primary);
    border: var(--CTA) 1px solid;
    color: var(--CTA);
    padding: 3px 40px;
    width: 100%;
    
    max-width: 250px;
    transition: all 0.3s ease-in-out;
}

#home button[type="button"]:hover{
    opacity: 0.6;
    cursor: pointer;
}

input[type="text"], select, textarea{
    color: var(--secondary);
    padding: 3px 40px 3px 20px;
    border: none;
    width: 100%;  
}

.maxwidth{
    max-width: 250px; 
}

input[type="text"]:focus, select:focus, textarea:focus{
    outline: var(--secondary) .5px solid;
}

#boton-filtro, .boton-nueva-tarea, .usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.boton-nueva-tarea{
    background-color: var(--CTA);
    color: var(--primary);
    padding: 6px 10px;
    border: var(--CTA) 1px solid;
    transition: all 0.3s ease-in-out;
}

.boton-nueva-tarea:hover{
    color: var(--CTA);
    border: var(--CTA) 1px solid;
    background-color: var(--primary);
    cursor: pointer;
}

/* TABLE */

table,
th,
td {
  border-collapse: collapse;
  text-align: center;
  border-bottom: var(--CTA) 1px solid;
}

table {
  width: 100%;
}

.item-lista-tarea{
    background-color: var(--fondo);
    transition: all 0.3s ease-in-out;
}

.item-lista-tarea:hover{
    background-color: var(--hover);
    cursor: pointer;
    transform: scale(1.01);
}

td,
th {
    padding: 10px;
}

/* PÁGINA DE DETALLE */

.boton-regresar{
    color: var(--CTA);
}

#detalle{
    margin-top: 20px;
}

#botones-detalle{
    margin: 20px;
    gap: 30px;
}

#boton-editar-tarea, #boton-nueva-tarea, #boton-actualizar-tarea{
    background-color: var(--CTA);
    color: var(--primary);
    padding: 3px;
    width: 30%;
    border: var(--CTA) 1px solid;
    transition: all 0.3s ease-in-out;
}

#boton-eliminar-tarea{
    background-color: var(--fondo);
    border: var(--CTA) 1px solid;
    color: var(--CTA);
    padding: 3px;
    width: 30%;
    transition: all 0.3s ease-in-out;
}

#boton-editar-tarea:hover, #boton-eliminar-tarea:hover, #boton-nueva-tarea:hover, #boton-actualizar-tarea:hover{
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
}

/* PÁGINA NUEVA TAREA */

#nueva-tarea form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#nueva-tarea .form-control, .form-select {
    box-sizing: border-box !important;
    width: 250px;
    padding: 3px 40px 3px 20px;
}

.form-control, .form-select {
    font-size: smaller;
}

/* PÁGINA EDITAR TAREA */

#editar-tarea form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#editar-tarea form div div{
    display: flex;
    flex-wrap: nowrap;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
    #filtros{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }
    
    .contenido-filtros{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }
}

@media screen and (min-width: 769px) {
    .contenido-filtros{
        margin: 0 40px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}